<settings>
	<category label="30000">
        <setting id="username" type="text" label="30001" default=""/>
        <setting id="password" type="text" option="hidden" label="30002" default="" />
        <setting label="30003" type="lsep"/>
        <setting id="single_profile" type="bool" label="30004" default="false"/>
        <setting id="show_profiles" type="bool" label="30005" enable="eq(-1,false)" default="true"/>
	</category>
    <category label="30010">
        <setting label="30000" type="lsep"/>
        <setting id="debug" type="bool" label="30011" default="true"/>
        <setting label="30012" type="lsep"/>
        <setting id="ssl_enabled" type="bool" label="30013" default="true"/>
        <setting id="ssl_version" type="labelenum" label="30014" values="Auto|SSLv23|SSLv3|TLSv1|TLSv1_1|TLSv1_2" default="TLSv1"/>
	</category>
    <category label="30020">
        <setting label="30000" type="lsep"/>
        <setting id="use_tmdb" type="bool" label="30021" default="true"/>
        <setting id="browse_tv_shows" type="bool" label="30022" default="true"/>
        <setting label="30023" type="lsep"/>
        <setting id="force_view" type="bool" label="30024" default="true"/>
        <setting id="view_id_videos" type="number" label="30025" enable="eq(-1,true)" default="501"/>
        <setting id="view_id_episodes_new" type="number" label="30026" enable="eq(-2,true)" default="503"/>
        <setting id="view_id_activity" type="number" label="30027" enable="eq(-3,true)" default="51"/>
	</category>
</settings>
